// Header

.header__main {
  display: flex;
  top: 0;
  width: 100%;
  height: 169px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.header__principal__image {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 32px;
}

.header__label {
  border: 4px solid white;
  display: flex;
  padding: 20px;
  font-size: 70px;
  position: absolute;
  top: 238px;
  width: 642px;
  margin-left: 155px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5.1px;
}

.header__img {
  display: flex;
  margin-top: 154px;
  margin-left: 157px;
  margin-bottom: 245px;
}

.header__logo,
.footer__logo {
  height: 30px;
  width: 150px;
}

.header__items__menu {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}

.header__items:hover {
  line-height: 1.5;
  margin-top: -3px;
  border-bottom: 2px solid white;
}

.header__img__label {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
  border: 97px solid white;
  margin-left: 572px;
  width: 27%;
  background: white;
  margin-top: 164px;
}

.header__img__span {
  display: flex;
  text-transform: uppercase;
  font-size: 40px;
}

.header__img__span__label {
  display: flex;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 44px;
  line-height: 1.8;
  color: #666666;
}

// Cards Label

.cards__label__container {
  display: flex;
  margin-left: 157px;
  justify-content: space-between;
  width: 73.5%;
  margin-bottom: 87px;
}

.cards__label__span {
  font-size: 40px;
  text-transform: uppercase;
}

.cards__label__button {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background-color: white;
  width: 180px;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.cards__label__button:hover {
  outline: none;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}


// Cards

.cards__container,
.cards__container__2 {
  display: flex;
  margin-left: 157px;
  height: 483px;
}

.cards__container__2 {
  margin-bottom: 100px;
}

.cards__span__earth,
.cards__span__arcade,
.cards__span__soccer,
.cards__span__grid,
.cards__span__path,
.cards__span__boreal,
.cards__span__curiosity,
.cards__span__fisheye
{
  display: flex;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  width: 160px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 57px;
  margin-left: 40px;
}

.cards__arcade,
.cards__boreal,
.cards__earth,
.cards__fisheye,
.cards__path,
.cards__soccer,
.cards__grid,
.cards__curiosity {
  display: flex;
  width: 257px;
  margin-right: 30px;
  cursor: pointer;

  &:not( :hover ){
    opacity: 1.0;
   }
  &:hover {
    opacity: 0.5;
  }
}

.cards__earth {
  background: url('./../../assets/desktop/image-deep-earth.jpg') no-repeat;
}

.cards__arcade {
  background: url('./../../assets/desktop/image-night-arcade.jpg') no-repeat;
}

.cards__soccer {
  background: url('./../../assets/desktop/image-soccer-team.jpg') no-repeat;
}

.cards__grid {
  background: url('./../../assets/desktop/image-grid.jpg') no-repeat;
}

.cards__span__grid {
  width: 100px;
}

.cards__path {
  background: url('./../../assets/desktop/image-from-above.jpg') no-repeat;
}

.cards__boreal {
  background: url('./../../assets/desktop/image-pocket-borealis.jpg') no-repeat;
}

.cards__curiosity {
  background: url('./../../assets/desktop/image-curiosity.jpg') no-repeat;
}

.cards__fisheye {
  background: url('./../../assets/desktop/image-fisheye.jpg') no-repeat;
}


// Footer

.footer__container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 165px;
}

.footer__image {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 35px;
  width: 74%;
  margin-left: 159px;
  margin-bottom: 30px;
}

.footer__social__icon {
  margin-right: 10px;

  &:hover {
    line-height: 20;
    margin-top: -3px;
    border-bottom: 2px solid white;
  }
}

.footer__item__container {
  display: flex;
  justify-content: space-between;
  width: 84%;
}

.footer__items__menu {
  display: flex;
  margin-left: 160px;
}

.footer__items:hover {
  line-height: 1.5;
  margin-top: -3px;
  border-bottom: 2px solid white;
}

.footer__span__copyright {
  color: white;
}

.footer__social {
  cursor: pointer;
}
