<!-- Header -->
<div>
  <img src="./../../assets/desktop/image-hero.jpg" class="header__principal__image">
  <div class="header__label">
    <span>Immersive Experiences that deliver</span>
  </div>
</div>

<div class="header__main">
  <img src="./../../assets/logo.svg" class="header__logo">
  <div class="header__items__menu">
    <a href="/">About</a>
    <a href="/">Carrers</a>
    <a href="/">Events</a>
    <a href="/">Products</a>
    <a href="/">Supports</a>
  </div>
</div>

<div class="header__img">
  <img src="./../../assets/desktop/image-interactive.jpg">

  <div class="header__img__label">
    <span class="header__img__span">
      The Leader In Interactive VR
    </span>
    <span class="header__img__span__label">
      Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses throught digital experiences that bind to their brand.
    </span>
  </div>
</div>

<!-- Cards Label-->

<div class="cards__label__container">
  <span class="cards__label__span">Our Creations</span>
  <button class="cards__label__button">See All</button>
</div>

<!-- Cards -->

<div class="cards__container">

  <div class="cards__earth">
    <span class="cards__span__earth">Deep Earth</span>
  </div>

  <div class="cards__arcade">
    <span class="cards__span__arcade">Night Arcade</span>
  </div>

  <div class="cards__soccer">
    <span class="cards__span__soccer">Soccer Team VR</span>
  </div>

  <div class="cards__grid">
    <span class="cards__span__grid">The Grid</span>
  </div>
</div>

<div class="cards__container__2">

  <div class="cards__path">
    <span class="cards__span__path">From Up Above Vr</span>
  </div>

  <div class="cards__boreal">
    <span class="cards__span__boreal">Pocket Boreal</span>
  </div>

  <div class="cards__curiosity">
    <span class="cards__span__curiosity">The Curiosity</span>
  </div>

  <div class="cards__fisheye">
    <span class="cards__span__fisheye">Make it Fisheye</span>
  </div>
</div>

<!-- Footer -->
<div class="footer__container">
  <div class="footer__image">
    <img src="./../../assets/logo.svg" class="footer__logo">
    <div class="footer__social">
      <img class="footer__social__icon" src="./../../assets/icon-facebook.svg">
      <img class="footer__social__icon" src="./../../assets/icon-twitter.svg">
      <img class="footer__social__icon" src="./../../assets/icon-pinterest.svg">
      <img class="footer__social__icon" src="./../../assets/icon-instagram.svg">
    </div>
  </div>
  <div class="footer__item__container">
    <div class="footer__items__menu">
      <a href="/">About</a>
      <a href="/">Carrers</a>
      <a href="/">Events</a>
      <a href="/">Products</a>
      <a href="/">Supports</a>
    </div>
    <span class="footer__span__copyright">@2021 LoopStudios. All right Reserved</span>
  </div>

</div>








