<!-- Header -->
<div>
  <img src="./../../assets/desktop/image-hero.jpg" style="position: relative; width: 100%;">
  <div class="header__label">
    <span>Immersive Experiences that deliver</span>
  </div>
</div>

<div class="header__main">
  <img src="./../../assets/logo.svg" style="height: 30px; width: 150px;">
  <div style="display: flex; width: 70%; justify-content: flex-end;">
    <a href="/">About</a>
    <a href="/">Carrers</a>
    <a href="/">Events</a>
    <a href="/">Products</a>
    <a href="/">Supports</a>
  </div>
</div>

<div class="header__img">
  <img src="./../../assets/desktop/image-interactive.jpg">

  <div class="header__img__span">
    <span style="display: flex; text-transform: uppercase; font-size: 40px;">
      The Leader In Interactive VR
    </span>
    <span style="display: flex; font-size: 14px; font-family: 'Josefin Sans', sans-serif; margin-top: 44px; line-height: 1.8; color: #666666;">
      Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses throught digital experiences that bind to their brand.
    </span>
  </div>
</div>






